
.contact-box {
    margin-top: 30px;
    background: #111;
    color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.contact-box h3 {
    font-weight: 700;
    border-left: 4px solid #ffffff;
    padding-left: 12px;
}

.contact-box p {
    margin-bottom: 12px;
    color: #ffffff;
}

.contact-box i {
    color: var(--orange-color);
}

.contact-box .form-control {
    background-color: #1c1c1c;
    border: 1px solid #333;
    color: white;
}

.contact-box .form-control::placeholder {
    color: #aaa;
}

.contact-box .form-control:focus {
    border-color: #ffffff;
    box-shadow: none;
}

.social-icons a {
    color: #ffffff;
    font-size: 22px;
    margin-right: 15px;
    transition: 0.3s ease;
}

.contact-page i,
.contact-page .fa-solid,
.contact-page .fa-brands {
    color: #ffffff !important;
}

.contact-box .btn {
    background-color: #414345;
    color: white;
}

.contact-box .btn:hover {
    background-color: #654321 !important;
    color: #fff;
}