body {
    height: 100vh;
}

.register-wrapper {
    width: 450px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin: auto;
    margin-top: 5%;
    animation: fadeIn 0.6s ease;
}

.register-title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #414345;
}

.btn-register {
    background: #414345;
    color: white;
    font-weight: 600;
    transition: 0.2s;
}

.btn-register:hover {
    background: #654321;
    color: #fff;
}
