body {
    height: 100vh;
}

.otp-wrapper {
    width: 400px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    margin: auto;
    margin-top: 7%;
    animation: fadeIn 0.5s ease;
}

.otp-title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #414345;
}

.btn-verify {
    background: #414345;
    color: white;
    font-weight: 600;
    transition: 0.2s;
}

.btn-verify:hover {
    background: #654321;
    color: #fff;
}

.resend {
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    text-align: center;
    color: #4e4376;
}

.resend:hover {
    text-decoration: underline;
}
